/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front, .back {
	backface-visibility: hidden;
	position: absolute;
}
.portfolio-item:hover {
	/*opacity: 0;*/
	transform: rotateY(180deg);
	transition-duration: 1s;
	transform-style: preserve-3d;
}
.back {
	/*opacity: 1;*/
	transform: rotateY(180deg);
	position: relative;
}
